<main class="middle-content">
  <div class="page_title_block">
    <h1 class="page_title" title="Report Reason(s) Management">Report Reason(s) Management</h1>
  </div>

  <div class="content-section">
    <div class="outer-box">
      <div class="global-table no-radius p0">
        <div class="tab-content1">
          <div class="tab-pane1">
            <div class="sec_head_new">
              <form [formGroup]="searchForm" (ngSubmit)="searchFilter(searchForm.value)">
                <div class="row justify-content-between">
                  <div class=" col-md-3 ">
                    <div class="filter_search mb20 width100">
                      <div class="input-group filter_search_group">
                        <input type="text" formControlName="search" class="form-control" placeholder="Search"
                          ngbTooltip="Search">
                        <div class="input-group-append">
                          <button class="btn btn_search_group" type="button"><img src="assets/img/icon-search.png"
                              alt="Search"></button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 ">
                    <div class="head_flt_select input-label">
                      <strong><span class="d-flex align-items-center">From</span></strong>
                      <input type="date" class="form-control" placeholder="From date" formControlName="startDate"
                        max="{{todayDate | date:'yyyy-MM-dd'}}" (ngModelChange)="Changed($event)">

                    </div>
                  </div>
                  <div class=" col-md-3 ">
                    <div class="head_flt_select input-label">
                      <b><span class="d-flex align-items-center">To</span></b>
                      <input type="date" class="form-control" placeholder="To date" formControlName="endDate"
                        min="{{nowDate2 | date:'yyyy-MM-dd'}}" max="{{todayDate | date:'yyyy-MM-dd'}}"
                        (ngModelChange)="fromMaxDate($event)">
                    </div>
                  </div>
                  <div class=" col-md-3">
                    <div class="text-left">
                      <button type="submit" class="btn  btn-theme form-group mr-3" style="min-width:0px !important"
                        title="Search">Search</button>
                      <button type="reset" (click)="getList()" class="btn  btn-theme form-group"
                        title="Reset">Reset</button>
                    </div>
                  </div>
                  <div class=" col-md-12 ">
                    <div class="text-right">
                      <button class="btn  btn-theme form-group mr-3" type="button" data-target="#add_reason_modal"
                        data-toggle="modal" style="color:white" title="Add Reason"> <i class="fa fa-plus"></i> Add
                        Reason</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr class="no_wrap_th">
                    <th>ID</th>
                    <th>Report Reason</th>
                    <th>Created Date</th>
                    <th>Updated Date</th>
                    <th class="action_td_btn3">Action</th>
                  </tr>
                </thead>
                <ng-container *ngIf="items.length > 0; else elseTemplate">
                  <tbody>
                    <tr
                      *ngFor='let x of items | paginate: { itemsPerPage: limit, currentPage: pageNumber , totalItems: pageData?.total };let i=index'>
                      <td>{{ (i+1) + srNo }}</td>
                      <td title="{{ x?.reportReason }}">{{ x?.reportReason }}</td>
                      <td title="{{x?.createdAt | date:'dd/MM/yyyy h:mm a' }}">
                        {{x?.createdAt | date:'dd/MM/yyyy h:mm a' }}</td>
                      <td title="{{x?.updatedAt | date:'dd/MM/yyyy h:mm a' }}">
                        {{x?.updatedAt | date:'dd/MM/yyyy h:mm a' }}</td>
                      <td class="action_td_btn3">
                        <a class="btn btn-danger1 mr-2" (click)="delete(x?._id)" data-toggle="modal"
                          data-target="#delete" title="Delete"><i class="fa fa-trash" style="color:white">
                            Delete</i></a>
                      </td>
                    </tr>
                  </tbody>
                </ng-container>
                <ng-template #elseTemplate>
                  <tbody>
                    <tr *ngIf="items == ''">
                      <td colspan="9" vertical-align="middle">
                        <div class="no-record">
                          <div class="no-recordin">
                            <H5 style="margin-left: 34%;">No record found</H5>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </ng-template>
              </table>
            </div>
            <div class="custom-pagination mt20 text-right">
              <pagination-controls (pageChange)="pagination($event)"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<div class="modal fade global-modal reset-modal" id="delete">
  <div class="modal-dialog max-WT-500">
    <form class="change_password">
      <div class="modal-content">
        <div>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <div class="modal-body">
            <div class="text-center modal_flax_height d-flex align-items-center justify-content-center">
              <div class="w-100">
                <i class="fa fa-trash fa-3x" style="color:red" aria-hidden="true"></i>
                <br><br>
                <p>Are you sure want to delete this record?</p>
                <div>
                  <button type="submit" class="btn btn-success mr-3" data-dismiss="modal"
                    (click)="deleteApi()">Yes</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>


<div class="modal fade global-modal reset-modal" id="add_reason_modal">
  <div class="modal-dialog max-WT-500">
    <form class="change_password" [formGroup]="addReasonForm" #f="ngForm">
      <div class="modal-content">
        <div class="modal-header ">
          <h4 class="modal-title text-center">Add Reason</h4>
        </div>
        <div class="modal-body">
          <div class="row align-items-center modal_flax_height">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="control-labe">Reason</label>
                    <input class="form-control" title="Enter reason" formControlName="reportReason" autocomplete="false"
                      type="text" placeholder="Enter reason">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <button type="submit" (click)="addReason1(addReasonForm.value)"
                class="btn btn-gray btn-large radius0 btn-block">Add</button>
            </div>
            <div class="col-6">
              <button type="button" class="btn btn-red btn-large radius0 btn-block" (click)="reset()"
                data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>