<main class="middle-content">

  <div class="page_title_block">
    <h1 class="page_title" title="Graph(s) Management">Graph(s) Management</h1>
  </div>
  <!doctype html>
  <html>
  <head>
  <title>Site Maintenance</title>
  <meta charset="utf-8"/>
  <meta name="robots" content="noindex"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  <style>
    body { text-align: center;  }
    
    /* h1 { font-size: 50px; } */
    body { font: 20px Helvetica, sans-serif; color: #333; }
    article { display: block; text-align: left; width: 650px; margin: 0 auto;margin-top: 10px }
    a { color: #dc8100; text-decoration: none; }
    a:hover { color: #333; text-decoration: none; }
  </style>
  </head>
  
  <body>
   
  <article>
     
      <img src="http://www.sclance.com/backgrounds/coming-soon-transparent-background/coming-soon-transparent-background_613739.png">
      <div>
          <p>Sorry for the inconvenience but we&rsquo;re performing some maintenance at the moment!</p>
          <p>&mdash; Team Jokar</p>
      </div>
  </article>
  </body>
  </html>

  <!-- <div class=" col-md-3 ">
    <div class="head_flt_select input-label">
      <fusioncharts width="900" height="350" type="Column2D" dataFormat="json" [dataSource]="dataSource"
        (dataplotRollOver)="plotRollOver($event)">
      </fusioncharts>
    </div>
  </div> -->

  <!-- <div class=" col-md-3 ">
    <div class="head_flt_select input-label">
      <fusioncharts width="900" height="350" type="Column2D" dataFormat="json" [dataSource]="dataSource1"
        (dataplotRollOver)="plotRollOver($event)">
      </fusioncharts>
    </div>
  </div> -->

  <!-- <div class=" col-md-3 ">
    <div class="head_flt_select input-label">
      <fusioncharts width="900" height="350" type="Column2D" dataFormat="json" [dataSource]="dataSource2"
        (dataplotRollOver)="plotRollOver($event)">
      </fusioncharts>
    </div>
  </div> -->

</main>