<main class="middle-content">
  <div class="page_title_block">
    <h1 class="page_title" title="CURRENCY & TAX(s) MANAGEMENT">CURRENCY & TAX(s) MANAGEMENT</h1>
  </div>
  <div class="content-section">
    <div class="outer-box">
      <div class="custom_tabs common-tabs">
        <div class="tab-content">
            <!doctype html>
            <html>
            <head>
            <title>Site Maintenance</title>
            <meta charset="utf-8"/>
            <meta name="robots" content="noindex"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
           
            <style>
              body { text-align: center; }
              
              body { font: 20px Helvetica, sans-serif; color: #333; }
              article { display: block; text-align: left; width: 650px; margin: 0 auto;margin-top: 10px }
              a { color: #dc8100; text-decoration: none; }
              a:hover { color: #333; text-decoration: none; }
            </style>
            </head>
            
            <body>
             
            <article>
               
                <img src="http://www.sclance.com/backgrounds/coming-soon-transparent-background/coming-soon-transparent-background_613739.png">
                <div>
                    <p>Sorry for the inconvenience but we&rsquo;re performing some maintenance at the moment!</p>
                    <p>&mdash; Team Jokar</p>
                </div>
            </article>
            </body>
            </html>
          <!-- <div class="tab-pane active show" id="general_info">
            <div class="order-view mt30 max-WT-700 mrgn-0-auto">
              <div class="main-block-innner mb40 mt40">
                <div class="add-store-block input-style"> -->
                  
                  <!-- <div class="login-heading" layout-align="center center">
                    <h4>Select User Type</h4>
                  </div>
                  <div class="text-center mt-3"> <button class="btn btn-login btn-large  width100 font-100"
                      [routerLink]="['../currencyTaxManagement']">CLICK TO DELIVERY WORKERS ACCOUNT</button></div>
                  <div class="text-center mt-3"> <button class="btn btn-login btn-large  width100 font-100"
                      [routerLink]="['../professionalCurrencyTaxManagement']">CLICK TO PROFESSIONAL WORKERS ACCOUNT</button></div>

                </div> -->
              <!-- </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</main>