<main class="middle-content">
    <div class="page_title_block">
        <h1 class="page_title" title="Static Content Management">Static Content Management</h1>
    </div>
    <div class="content-section">
        <div class="outer-box">
            <div class="global-table no-radius p0">
                <div class="tab-content1">
                    <div class="tab-pane1">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="no_wrap_th">
                                        <th>ID</th>
                                        <th>Page Name </th>
                                        <th class="action_td_btn3">Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td>1</td>
                                        <td>Terms & Conditions</td>
                                        <td class="action_td_btn3">
                                            <a [routerLink]="['../../admin/editStaticContent/'+'TermCondition']"><i
                                                    class="fa fa-eye"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Privacy Policy</td>
                                        <td class="action_td_btn3">
                                            <a [routerLink]="['../../admin/editStaticContent/'+'PrivacyPolicy']"><i
                                                    class="fa fa-eye"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>About Us</td>
                                        <td class="action_td_btn3">
                                            <a [routerLink]="['../../admin/editStaticContent/'+'AboutUs']"><i
                                                    class="fa fa-eye"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Contact Us</td>
                                        <td class="action_td_btn3">
                                            <a [routerLink]="['../../admin/editStaticContent/'+'ContactUs']"><i
                                                    class="fa fa-eye"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Instructions</td>
                                        <td class="action_td_btn3">
                                            <a [routerLink]="['../../admin/editStaticContent/'+'Instruction']"><i
                                                    class="fa fa-eye"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>Marketing</td>
                                        <td class="action_td_btn3">
                                            <a [routerLink]="['../../admin/editStaticContent/'+'Marketing']"><i
                                                    class="fa fa-eye"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>