<!DOCTYPE html>
<html lang="en">


<body class="afterlogin">
    
    <div class="wrapper">
        <header class="header">
            <nav class="navbar clearfix">
                <div class="logo-box">
                   
                    <a class="navbar-brand logo" href="dashboard.html">
                        <img src="assets/img/logo.png" alt="logo" class="lg-logo">
                        <img src="assets/img/logo-small.png" alt="logo" class="sm-logo">
                    </a>
                </div>
                <div class="header-right-part">
                    <button class="btn btn-toggle" type="button">
                        <i class="fas fa-bars"></i>
                    </button>
                    <button class="btn btn-outline-secondary btn-mobsearch" type="button"><i
                            class="fas fa-search"></i></button>
                </div>
            </nav>
        </header>