<main class="middle-content">
  <i class="fas fa-long-arrow-alt-left fa-2x"
    style="float:right;cursor: pointer;color: #3366ff;margin-right: 15px;margin-top: 10px" title="Back"
    [routerLink]="['/admin/professionalworkerManagement']"></i>
  <div class="page_title_block">
    <h1 class="page_title">{{userDetail?.name}} Details</h1>
  </div>
  <div class="content-section">
    <div class="outer-box">
      <div class="custom_tabs common-tabs">
        <div class="tab-content">
          <div class="tab-pane active show" id="general_info">
            <div class="order-view mt30 max-WT-700 mrgn-0-auto">
              <div class="main-block-innner mb40 mt40">
                <div class="add-store-block input-style">
                  <div class="user-profile">
                    <div class="image-box">
                      <img src={{userDetail?.profilePic}}
                        class="img-circle" alt="Profile Image" height="50" width="50" style="border-radius:50%"
                        class="profile-pic">
                    </div>
                  </div>
                  <div class="form-group row align-items-baseline">
                    <label class="col-md-5">Name :</label>
                    <div class="col-md-7">
                      <label>{{userDetail?.name}}</label>
                    </div>
                  </div>
                  <div class="form-group row align-items-baseline">
                    <label class="col-md-5">Email :</label>
                    <div class="col-md-7">
                      <label>{{userDetail?.email}}</label>
                    </div>
                  </div>
                  <div class="form-group row align-items-baseline">
                    <label class="col-md-5">Phone No :</label>
                    <div class="col-md-7">
                      <label>{{userDetail?.countryCode}}{{userDetail?.mobileNumber}}</label>
                    </div>
                  </div>
                  <div class="form-group row align-items-baseline">
                    <label class="col-md-5">App Language :</label>
                    <div class="col-md-7">
                      <label>{{userDetail?.appLanguage}}</label>
                    </div>
                  </div>
                  <div class="form-group row align-items-baseline">
                    <label class="col-md-5">Speak Language :</label>
                    <div class="col-md-7">
                      <label>{{userDetail?.speakLanguage}}</label>
                    </div>
                  </div>

                  <div class="form-group row align-items-baseline">
                    <label class="col-md-5">Online Status :</label>
                    <div class="col-md-7">
                      <label>{{userDetail?.onlineStatus}}</label>
                    </div>
                  </div>
                  <div class="form-group row align-items-baseline">
                    <label class="col-md-5">Professional Id :</label>
                    <div class="col-md-7">
                      <label>{{userDetail?.professiona1PersonUniqueId}}</label>
                    </div>
                  </div>

                  <div class="form-group row align-items-baseline">
                    <label class="col-md-5">Transport Mode :</label>
                    <div class="col-md-7">
                      <label>{{userDetail?.transportMode}}</label>
                    </div>
                  </div>

                  <div class="form-group row align-items-baseline">
                    <label class="col-md-5">Service Category :</label>
                    <div class="col-md-7">
                      <label *ngFor="let item of categoryArray"> {{item?.serviceCategory}},</label>
                    </div>
                  </div>

                  <div class="form-group row align-items-baseline">
                    <label class="col-md-5">Service Sub-Category :</label>
                    <div class="col-md-7">
                      <label *ngFor="let item of subcategoryArray"> {{item?.serviceSubCategory}},</label>
                      <label *ngIf="item?.serviceSubCategory.length==0"> No sub-category selected</label>
                    </div>
                  </div>

                 
                  <div class="form-group row align-items-baseline">
                    <label class="col-md-5">Created Date :</label>
                    <div class="col-md-7">
                      <label>{{userDetail?.createdAt | date:'dd/MM/yyyy h:mm a'}}</label>
                    </div>
                  </div>

                  <div class="form-group row align-items-baseline">
                    <label class="col-md-5">Updated Date :</label>
                    <div class="col-md-7">
                      <label>{{userDetail?.updatedAt | date:'dd/MM/yyyy h:mm a'}}</label>
                    </div>
                  </div>


                  <div class="form-group row align-items-baseline">
                    <label class="col-md-5">Total rating:</label>
                    <div class="col-md-7">
                      <label>{{userDetail?.totalRating}}</label>
                    </div>
                  </div>

                  <div class="form-group row align-items-baseline">
                    <label class="col-md-5">Average rating:</label>
                    <div class="col-md-7">
                      <label>{{userDetail?.avgRating}}</label>
                    </div>
                  </div>

                  <div class="add-store-block input-style">
                    <div class="form-group row ">
                      <label class="common-label mb20 col-lg-12">Documents(Click To Zoom Image) :</label>
                      <div class="col-md-6  h_key">
                        <div class="imgbox">
                          <img id="myImg1" style="width: 130px; height: 140px;" src="{{userDetail?.identityProof}}"
                            *ngIf="userDetail?.identityProof!==''" (click)="viewImage(userDetail?.identityProof)">
                          <img src="https://accommodation.tripura.gov.in/Images2/LodgeImage/NoImageAvailable.png" img
                            id="myImg1" style="width: 130px; height: 140px;" *ngIf="userDetail?.identityProof==''">
                        </div>
                      </div>
                     
                      <div class="col-md-5  h_key">
                        <div class="imgbox">
                          <img id="myImg1" style="width: 130px; height: 140px;" src="{{userDetail?.addressProof}}"
                            *ngIf="userDetail?.addressProof!==''" (click)="viewImage(userDetail?.addressProof)">
                          <img src="https://accommodation.tripura.gov.in/Images2/LodgeImage/NoImageAvailable.png" img
                            id="myImg1" style="width: 130px; height: 140px;" *ngIf="userDetail?.addressProof==''">
                        </div>
                      </div>
                      <div class="col-md-6  h_key">
                        <div class="imgbox">
                          <img id="myImg1" style="width: 130px; height: 140px;" src="{{userDetail?.drivingLicence}}"
                            *ngIf="userDetail?.drivingLicence!==''" (click)="viewImage(userDetail?.drivingLicence)">
                          <img src="https://accommodation.tripura.gov.in/Images2/LodgeImage/NoImageAvailable.png" img
                            id="myImg1" style="width: 130px; height: 140px;" *ngIf="userDetail?.drivingLicence==''">
                        </div>
                      </div>
                      <div class="col-md-5  h_key">
                        <div class="imgbox">
                          <img id="myImg1" style="width: 130px; height: 140px;" src="{{userDetail?.workImage[0]}}"
                            *ngIf="userDetail?.workImage[0]!==''" (click)="viewImage(userDetail?.workImage[0])">
                          <img src="https://accommodation.tripura.gov.in/Images2/LodgeImage/NoImageAvailable.png" img
                            id="myImg1" style="width: 130px; height: 140px;" *ngIf="userDetail?.workImage[0]==''">
                        </div>
                      </div>
                      <div class="col-md-5  h_key">
                        <div class="imgbox">
                          <img id="myImg1" style="width: 130px; height: 140px;" src="{{userDetail?.workImage[1]}}"
                            *ngIf="userDetail?.workImage[1]!==''" (click)="viewImage(userDetail?.workImage[1])">
                          <img src="https://accommodation.tripura.gov.in/Images2/LodgeImage/NoImageAvailable.png" img
                            id="myImg1" style="width: 130px; height: 140px;" *ngIf="userDetail?.workImage[1]==''">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-center mt-3">
                    <button class="btn btn-primary  mt-2 mr-2"
                      [routerLink]="['/admin/professionalworkerManagement']">BACK</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<div class="modal fade global-modal reset-modal" id="edit_earning_modal">
  <div class="modal-dialog max-WT-500">
    <form class="change_password" [formGroup]="editEarningForm" #f="ngForm">
      <div class="modal-content">
        <div class="modal-header ">
          <h4 class="modal-title text-center">Edit Earning</h4>
        </div>
        <div class="modal-body">
          <div class="row align-items-center modal_flax_height">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="control-labe">Total Earning Percentage</label>
                    <input class="form-control" formControlName="totalEarning" autocomplete="false" type="text">
                    <span class="text-danger"
                      *ngIf="editEarningForm.get('totalEarning').hasError('required') && (editEarningForm.get('totalEarning').dirty || f.submitted)">Field
                      is required.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <button type="submit" (click)="editEarning(editEarningForm.value)"
                class="btn btn-gray btn-large radius0 btn-block">SUBMIT</button>
            </div>
            <div class="col-6">
              <button type="button" class="btn btn-red btn-large radius0 btn-block" (click)="reset()"
                data-dismiss="modal">CANCEL</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="modal fade global-modal reset-modal modalview" id="image1" style="top:65px;">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <div class="modal-dialog " style="max-width:-webkit-fill-available;">
    <div class="change_password">
      <div class="text-center">
        <img [src]="viewImageOnModal" *ngIf="viewImageOnModal" class="rounded" style="height:619px;width:900px">
      </div>
    </div>
  </div>
</div>