<main class="middle-content">
  <div class="page_title_block">
    <h1 class="page_title" title="USER TYPE MANAGEMENT">USER TYPE MANAGEMENT</h1>
  </div>
  <div class="content-section">
    <div class="outer-box">
      <div class="custom_tabs common-tabs">
        <div class="tab-content">
          <div class="tab-pane active show" id="general_info">
            <div class="order-view mt30 max-WT-700 mrgn-0-auto">
              <div class="main-block-innner mb40 mt40">
                <div class="add-store-block input-style">
                  <div class="login-heading" layout-align="center center">
                    <h4><u>SELECT ONE TO SEE DETAIL</u></h4>
                  </div>
                  <div class="text-center mt-3"><button class="btn btn-login btn-large  width100 font-100"
                      [routerLink]="['../userManagement']" title="NORMAL USERS">NORMAL USERS</button></div>
                  <div class="text-center mt-3"> <button class="btn btn-login btn-large  width100 font-100"
                      [routerLink]="['../professionalworkerManagement/all']" title="PROFESSIONAL WORKERS">PROFESSIONAL WORKERS</button></div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>