

#parent {
	position: relative;
	width: 400px;
	height: 100vh;
	overflow: hidden;
}
.message {
	position:absolute;
	left: 0;
	bottom: -120px;
	height: 120px;
    width: 120px;
    margin-left: 693px;
	background-color: orange;
	color: white;
	line-height: 115px;
	text-align: center;
	font-family: Arial, sans-serif;
	font-weight: bold;
	border-radius: 60px;
	animation: move 6s infinite linear;
}
.message:nth-child(2){
	left:120px;
	animation-delay: 2s;
}
.message:nth-child(3){
	left:240px;
	animation-delay: 4s;
}
@keyframes move {
	0% {
		bottom: -120px;
	}
	100% {
		bottom: 100%;
	}
}