<main class="middle-content">
        <i class="fas fa-long-arrow-alt-left fa-2x" style="float:right;cursor: pointer;color: #3366ff;margin-right: 15px;margin-top: 10px" title="Back" [routerLink]="['/admin/subAdminManagement']"></i>
    <div class="page_title_block">
        <h1 class="page_title">{{ item?.name }} Detail(s)</h1>
    </div>
    <div class="content-section">
        <div class="outer-box">
            <div class="custom_tabs common-tabs">
                <div class="tab-content">
                    <div class="tab-pane active show" id="general_info">
                        <div class="order-view mt30 max-WT-700 mrgn-0-auto">
                            <div class="main-block-innner mb40 mt40">
                                <div class="add-store-block input-style">
                                    <div class="user-profile">
                                        <div class="image-box">
                                            <div class="image-box">
                                                <img src={{image}} *ngIf="image!=undefined" class="profile-pic">
                                                <img src="assets/img/profile-img.jpg" *ngIf="image==undefined"
                                                    class="profile-pic">
                                            </div>
                                            <ng-template #elseTemplate>
                                                <img src="assets/img/profile-img.jpg" class="profile-pic">
                                            </ng-template>
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-baseline">
                                        <label class="col-md-5">Name :</label>
                                        <div class="col-md-7">
                                            <label>{{ item?.name }}</label>
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-baseline">
                                        <label class="col-md-5">Email :</label>
                                        <div class="col-md-7">
                                            <label>{{ item?.email }}</label>
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-baseline">
                                        <label class="col-md-5">Username :</label>
                                        <div class="col-md-7">
                                            <label>{{ item?.username }}</label>
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-baseline">
                                        <label class="col-md-5">Country : </label>
                                        <div class="col-md-7">
                                            <label>{{ item?.country }}</label>
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-baseline">
                                        <label class="col-md-5">Permissions : </label>
                                    </div>
                                    <div class="form-group row align-items-baseline">
                                        <label class="col-md-5">User Management : </label>
                                        <div class="col-md-7">
                                            <label *ngIf="item.permission[0]?.userManagement==true"
                                                style="color:green"><i class="fa fa-check" style="font-size:25px"></i></label>
                                            <label *ngIf="item.permission[0]?.userManagement==false"
                                                style="color:red"><i class="fa fa-times" style="font-size:25px"></i></label>
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-baseline">
                                        <label class="col-md-5">Order Management : </label>
                                        <div class="col-md-7">
                                            <label *ngIf="item.permission[0]?.orderManagement==true"
                                                style="color:green"><i class="fa fa-check" style="font-size:25px"></i></label>
                                            <label *ngIf="item.permission[0]?.orderManagement==false"
                                                style="color:red"><i class="fa fa-times" style="font-size:25px"></i></label>
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-baseline">
                                        <label class="col-md-5">Rating Management : </label>
                                        <div class="col-md-7">
                                            <label *ngIf="item.permission[0]?.ratingManagement==true"
                                                style="color:green"><i class="fa fa-check" style="font-size:25px"></i></label>
                                            <label *ngIf="item.permission[0]?.ratingManagement==false"
                                                style="color:red"><i class="fa fa-times" style="font-size:25px"></i></label>
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-baseline">
                                        <label class="col-md-5">Static Content Management : </label>
                                        <div class="col-md-7">
                                            <label *ngIf="item.permission[0]?.staticManagement==true"
                                                style="color:green"><i class="fa fa-check" style="font-size:25px"></i></label>
                                            <label *ngIf="item.permission[0]?.staticManagement==false"
                                                style="color:red"><i class="fa fa-times" style="font-size:25px"></i></label>
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-baseline">
                                        <label class="col-md-5">Bank Management : </label>
                                        <div class="col-md-7">
                                            <label *ngIf="item.permission[0]?.bankManagement==true"
                                                style="color:green"><i class="fa fa-check" style="font-size:25px"></i></label>
                                            <label *ngIf="item.permission[0]?.bankManagement==false"
                                                style="color:red"><i class="fa fa-times" style="font-size:25px"></i></label>

                                        </div>
                                    </div>
                                    <div class="form-group row align-items-baseline">
                                        <label class="col-md-5">Setting Management : </label>
                                        <div class="col-md-7">
                                            <label *ngIf="item.permission[0]?.settingManagement==true"
                                                style="color:green"><i class="fa fa-check" style="font-size:25px"></i></label>
                                            <label *ngIf="item.permission[0]?.settingManagement==false"
                                                style="color:red"><i class="fa fa-times" style="font-size:25px"></i></label>

                                        </div>
                                    </div>
                                    <div class="form-group row align-items-baseline">
                                        <label class="col-md-5">Created Date :</label>
                                        <div class="col-md-7">
                                            <label>{{ item?.createdAt }}</label>
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-baseline">
                                        <label class="col-md-5">Updated Date :</label>
                                        <div class="col-md-7">
                                            <label>{{ item?.updatedAt }}</label>
                                        </div>
                                    </div>
                                    <div class="text-center mt-3">
                                        <button class="btn btn-primary  mt-2 mr-2"
                                            [routerLink]="['/admin/subAdminManagement']">BACK</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Table Responsive End -->
    </div>
</main>